@import "./src/styles/abstracts/mixins";

.container {
  padding: 2rem 1rem;
}
h1.title {
  text-align: center;
}

@include md {
  .container {
    padding: 6% 10%;
  }
}

@include lg {
  .container {
    padding-block-end: 4% 15%;
  }
}