@import "./src/styles/abstracts/variables";
@import "./src/styles/abstracts/mixins";

form.contact-form {
  display: flex;
  flex-direction: column;
  
  label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0.6em 0;
    font-family: $font-primary;
    input, textarea, select {
      font-size: 1em;
      font-family: $font-primary;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 0.4em 0;
      padding-left: 0.2em;
      outline: none;
      &:focus {
        box-shadow: 1px 1px 2px;
      }
    }
    input.invalid {
      box-shadow: 1px 1px 2px red;
    }
    span {
      position: absolute;
      bottom: -1.2em;
      color: rgba(255, 0, 0, 0.7);
      font-size: 0.8em;
    }
  }
  button {
    position: relative;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 300px;
    background-color: black;
    font-family: $font-primary;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    border: none;
    outline: none;
    padding: 0.2em 1em;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      border: 1px solid black;
      color: black;
      background-color: white;
    }
  }
}