@import "./src/styles/abstracts/variables";
@import "./src/styles/abstracts/mixins";

section.repository {
  height: 100vh;
  min-height: 450px;
  h1.title {
    margin-bottom: 1em;
  }
  .navbar-wrapper {
    height: 10vh;
    width: 100%;
  }
  .table-wrapper {
    margin: 0 1rem;
    overflow-x: auto;
  }
}


@include xl {
  .table-wrapper {
    margin: 0 4% !important;
  }
}