html, body {
  background: transparent;
  font-size: 1em;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  border: none;
  text-decoration: none;
}